.main{
    background-color: #F8FAFB;
    margin: 0;
    padding: 0;
    background-image: url(/img/fundo.svg);
    background-repeat: no-repeat;
    background-position:right;
    
}
.box-barra-superior{
    /* border: 1px rgb(0, 0, 0) solid; */
    display: flex;
    justify-content: center;
}
#barra-superior{
    margin-bottom: 40px;
   width: 1153px;
   height: 91px;
   flex-shrink: 0;
   background-color: rgb(255, 255, 255);
   border-radius: 30px;
   box-shadow:  5px 5px 15px rgba(151, 151, 151, 0.25);
   margin-top: 22px;
   display: flex;
   justify-content: center;
   align-items: center;
 
 
} 
.box-bolinhas{
    width: 752px;
    height: 60px;
    background-color: white;
    /* border: 1px black solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}
#bolinha1{
    width: 60px;
    height: 60px;
    background-color: #2C2D5B;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#bolinha2{
    width: 60px;
    height: 60px;
    background-color: #DADADA;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0 ;

}
#bolinha3{
    width: 60px;
    height: 60px;
    background-color: #DADADA;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
#numero1{
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 24px;
    font-weight: 700;
}
#numero2{
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 24px;
    font-weight: 700;
}
#numero3{
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 24px;
    font-weight: 700;
}
.box-cadastro{
    /* border: 1px black solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.cadastro{
    width: 1200px;
    height: 700px;
    /* border: 1px black solid; */
    background-color: white;
    box-shadow: 0px 4px 25px 0px rgba(151, 151, 151, 0.25);
    border-radius: 30px;
    padding: 41px 106px;
    
}
.box-logo-cadastro{
    height: 100px;
    /* border: 1px black solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box-infomacoes-pessoais{
    margin: 25px;
}
.info-básicas{
    /* border:1px #2C2D5B solid ; */
    padding: 5px;
} 

.title1{
    /* border:1px #2C2D5B solid ;  */
    width: 1000px;
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    color:  #979797;
    display: flex;
    justify-content: start;
}

.info1{
    /* border:1px #2C2D5B solid; */
    display: flex;
    justify-content: center;
    margin: 0px 580px;
}

.name{
    /* border:1px #2C2D5B solid; */
    padding-right: 30px;

}
#nome{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color:  #979797;
    background-color: rgb(255, 255, 255);
    padding: 0px 10px;
    position: absolute;
    margin-left: 30px;
    margin-top: -13px;
    
}
#imput-nome{
    width: 334px;
    height: 74px;
    border-radius: 12px;
    border: 2px #979797 solid;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    color: #979797;
}

.second-name{
    padding-right: 30px;
}

.cpf{
    padding-right: 30px;
}
#cpf{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color:  #979797;
    background-color: rgb(255, 255, 255);
    padding: 0px 10px;
    position: absolute;
    margin-left: 30px;
    margin-top: -13px;
}
#imput-cpf{
    width: 334px;
    height: 74px;
    border-radius: 12px;
    border: 2px #979797 solid;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    color: #979797;
}    
#imput-sobrenome{
    width: 334px;
    height: 74px;
    border-radius: 12px;
    border: 2px #979797 solid;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    color: #979797;
}
#sobrenome{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color:  #979797;
    background-color: white;
    padding: 0px 10px;
    position: absolute;
    margin-top: -13px;
    margin-left: 30px;
}


.title2{
    /* border:1px #2C2D5B solid; */
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    color:  #979797;
    display: flex;
    justify-content: start;
}

.info2{
    /* border:1px #2C2D5B solid; */
    display: flex;
    justify-content: center;
}
#imput-nascimento{
    width: 455.727px;
    height: 60.337px;
    border-radius: 12px;
    margin-bottom: 25px;
    border: 2px #979797 solid;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    color: #979797;
}
#data{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color:  #979797;
    background-color: white;
    padding: 0px 10px;
    position: absolute;
    margin-top: 55px;
    margin-left: 25px;
}

.date{
    /* border:1px #2C2D5B solid; */
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}
#imput-genero{
    width: 455.727px;
    height: 60.337px;
    border-radius: 12px;
    border: 2px #979797 solid;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    color: #979797;
}

#genero{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color:  #979797;
    background-color: white;
    padding: 0px 10px;
    position: absolute;
    margin-top: 145px;
    margin-left: 25px;
}
.title3{
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    color:  #979797;
    display: flex;
    justify-content: start;
}

.info3{
    display: flex;
    justify-content: center;
}

.email{
    /* border:1px #2C2D5B solid; */
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}
#imput-email{
    width: 455.727px;
    height: 60.337px;
    border-radius: 12px;
    margin-bottom: 25px;
    border: 2px #979797 solid;

    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    color: #979797;
}

#email{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color:  #979797;
    background-color: white;
    padding: 0px 10px;
    position: absolute;
    margin-top: 55px;
    margin-left: 25px;
}
#imput-senha{
    width: 455.727px;
    height: 60.337px;
    border-radius: 12px;
    margin-bottom: 25px;
    border: 2px #979797 solid;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    color: #979797;
}
#senha{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color:  #979797;
    background-color: white;
    padding: 0px 10px;
    position: absolute;
    margin-top: 145px;
    margin-left: 25px;
}

.passaword{
    padding-right: 30px;
}
.info-cadas-nasc{
    display: flex;
    justify-content: space-between;
}

/* .botões{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
} */

#botaoavancar{
    margin-top: 50px;
    width: 453.4px;
    height: 61.898px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2C2D5B;
    color: white;
    font-size: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    font-family: 'Lato', sans-serif;
    text-decoration:none ;
    font-size: 16px;
    font-weight: 700;
}

.box-botao{
    /* border:1px #2C2D5B solid;  */
    display: flex;
    align-items: center;
    width: 1120px;
    flex-direction: column;
}
.button-link{
    /* border:1px #2C2D5B solid; */
    display: flex;
    flex-direction: column;
}
#redirect-login{
    text-decoration: none;
    color: #2C2D5B;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; 
    margin-top: 13.1px;
}
.mocarobotica{
    position: absolute;
    top: 454px;
    margin-left: -1360px;

}
.img-voltar{
    position: absolute;
    top: 37px;
    margin-left: -100px;
}
.img-avancar{
    position: absolute;
    top: 47px;
    margin-left: 1200px;
}
#voltar-inicio{
    position: absolute;
    color: #979797;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: capitalize;
    top: 100px;
    margin-left: -130px;
}
.linha{
    width: 632px;
    height: 4px;
    background-color: #e0e0e0;
    position: absolute;
}