section{
    max-width: 500px;
    margin: 50px auto;
    background-color: rgb(79, 102, 235);
    border-radius: 10px;
}

.formulario{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 30px;
    color: white;
}

input{
    border-style: none;
    outline-color: black;
    margin: 5px 0;
    border-radius: 5px;
}

button{
    margin-top: 10px;
    background-color: rgb(49, 87, 158);
    padding: 10px;
    color: white;
    border-radius: 10px;
    border: none;
}